.container {
  border: 1px solid black;
  width: 400px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  .title {
    text-decoration: underline;
    font-weight: bold;
    text-overflow: ellipsis;
  }
  path {
    fill: black;
  }
  .repoOpt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}
