.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  header {
    width: 100%;
    text-align: center;
  }
}
.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  gap: 3px;
  .inputBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border: 1px solid black;
    height: 100%;
    path {
      fill: black;
    }
    input {
      &:focus {
        outline: none;
      }
      border-style: none;
      padding: 5px;
      width: 250px;
    }
  }
  .optionBox {
    text-align: center;
    width: 100px;
    height: 100%;
  }
  .submitbutton {
    border-style: none;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 100%;
  }
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 500px;

  .filterBox {
    width: fit-content;
    height: fit-content;
  }
}
.repositoriesContainer {
  width: 500px;
  gap: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
